<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    * {
      box-sizing: border-box;
    }
    body {
      margin: 0px;
      padding: 0px;
    }
    .container {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
    }
    .card {
      border: 1px solid #000;
      width: 200px;
    }
    .card-image {
      width: 100%;
    }
    img {
      width: 100%;
    }
    .card-body {
      padding: 15px 20px;
    }
    form {
      margin-bottom: 100px;
    }
  </style>
</head>
<body>
  <div id="app">
    <!-- 原生作法: 監聽form的submit事件 preventDefault() 擋下送出的動作 -->
    <form @submit.prevent="submitData()">
      name<input v-model="name" type="text">
      power<input v-model="power" type="number">
      <button type="submit">新增資料</button>
    </form>
    <div class="container">
      <!-- v-for="item(每一筆資料) in array(全部的資料) " -->
      <!-- v-for="(單筆資料, 其索引值) in array(全部的資料) " -->
      <!-- :key="獨一無二的值" -->
      <div v-for="(doge, index) in doges" :key="doge.id" class="card">
        <div class="card-image">
          <img :src="dogeImage(doge.power)" :alt="doge.name">
        </div>
        <div class="card-body">
          <p class="name">name: {{ doge.name }}</p>
          <p class="power">power: {{ doge.power }}</p>
          <div class="btns">
            <button type="button" @click="addPower(doge)">增加戰力</button>
            <button type="button" @click="doge.power-=1000">減少戰力</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const { createApp } = Vue;

    createApp({
      data() {
        return {
          doges: [{
            id: 1,
            name: 'bread',
            power: 5000,
          }, {
            id: 2,
            name: 'weak',
            power: 8000,
          }, {
            id: 3,
            name: 'strong',
            power: 10000,
          }],
          name: '',
          power: 0,
        };
      },
      methods: {
        dogeImage(power) {
          if (power <= 5000) {
            return './image/doge-bread.jpg';
          } else if (power <= 8999) {
            return './image/doge-weak.png';
          } else {
            return './image/doge-strong.jpg';
          }
        },
        submitData() {
          this.doges.push({
            id: this.doges.length + 1,
            name: this.name,
            power: this.power,
          });
        },
        addPower(dogeData) {
          dogeData.power += 1000;
        },
      },
    }).mount('#app');
  </script>
</body>
</html>